body {
  background-color: #white;
  font-size: 18px;
  font-weight: bold;
  font-family:sans-serif;
  display: block;
}

.title {
padding: 10%;
text-align: center;
font-size: 20px;
text-transform: uppercase;
}

.container {
  background-color: #DFDEE0;
  width: 100%;
}

.preview {
  margin-bottom: 5%;
  padding-bottom: 50%;
}

.preview h1 {
    margin-left: 10%;
    padding-top: 10%;
}

@media screen and (min-width: 575px){
   body {
    margin: 1%;
    width: 100%;
  }

  .title {
    font-size: 40px;
  }
  .preview h1 {
    font-size: 40px;
  }
  .container {
    margin: 1%;
    width: 100%;
    background-size: cover;
  }
  .baku {
    width: 48%;
    float: right;
  }
  .london {
    width: 48%;
    float: left;
  }
  .rome {
    width: 48%;
    float: left;
  }
  .madrid {
    width: 48%;
    float: right;
  }
}

@media screen and (min-width: 991px){
   body {
    margin: 1%;
    width: 100%;
  }

  .title {
    font-size: 40px;
  }
  .preview h1 {
    font-size: 40px;
  }
  .container {
    margin: 1%;
    width: 100%;
    background-size: cover;
  }
  .baku {
    width: 25%;
    float: left;
  }
  .london {
    width: 25%;
    float: left;
  }
  .rome {
    width: 25%;
    float: left;
  }
  .madrid {
    width: 25%;
    float: left;
  }
}
.baku {
      background-image: url(../images/baku.jpg);
      background-size: cover;
      background-repeat: no-repeat;
}

.london {
      background-image: url(../images/london.png);
      background-size: cover;
      background-repeat: no-repeat;
}

.madrid {
      background-image: url(../images/madrid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.rome {
     background-image: url(../images/rome.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}
