body {
  background-color: #white;
  font-size: 14px;
}

.title {
padding: 5% 25% 5% 20%;
font-size: 20px;
width: 100%;
text-transform: uppercase;
}

.container {
  background-color: #DFDEE0;
  margin: 15%;
}

.previewbaku {
  padding-bottom: 50%;
  background-image: url(../images/baku.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
  .previewbaku h1 {
    margin-left: 10%;
    padding-top: 10%;
  }

.previewlondon {
  padding-bottom: 50%;
  background-image: url(../images/london.png);
  background-size: contain;
  background-repeat: no-repeat;
}
  .previewlondon h1 {
    margin-left: 10%;
    padding-top: 10%;
}
.previewmadrid {
  padding-bottom: 50%;
  background-image: url(../images/madrid.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: auto 100;
}
  .previewmadrid h1 {
    margin-left: 10%;
    padding-top: 10%;
}
.previewrome {
  padding-bottom: 50%;
  background-image: url(../images/rome.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
  .previewrome h1 {
    margin-left: 10%;
    padding-top: 10%;
}
